*{
    margin: 0px;
    padding: 0px;
}

#body {
    display: grid;

    width: 100vw;
    height: 100vh;
    grid-template-columns: 10% 30% 30% 30%;
    grid-template-rows: 16% 14% 3% 50% 16%;
    grid-template-areas:
    'he he he he'
    's1 d1 d1 d1'
    's1 d2 d2 d2'
    's1 s2 s2 s2'
    's1 f1 f1 f1'
    ;

}

.header {
    grid-area: he;
    background-color: lightblue;
    text-align: center;
    background-image: url("/img/banner.jpg");

    color: black;
}

.section1 {
    display: grid;
    background-color: lightpink;
    grid-area: s1;
    grid-template-areas: 
    'n1'
    'n2'
    'n3'
    'n4'
    'n5'
    'n6'
    ;
}

.nav1 {
    grid-area: n1;
    text-align: center;
}

.nav2 {
    grid-area: n2;
    text-align: center;
}

.nav3 {
    grid-area: n3;
    text-align: center;
}

.nav4 {
    grid-area: n4;
    text-align: center;
}

.nav5 {
    grid-area: n5;
    text-align: center;
}

.nav6 {
    grid-area: n6;
    text-align: center;
}

.div1 {
    grid-area: d1;
    background-color:lightcoral;
    text-align: center;
}

.div2 {
    grid-area: d2;
    background-color: lightskyblue;
}

.footer1 {
    grid-area: f1;
    background-color: lightgreen;
}

.section2 {
    display: grid;
    grid-area: s2;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    background-color: lightseagreen;
    grid-template-areas: 
    'a1 a2'
    'a3 a4'
    'a5 a6'
    ;
}

.article1 {
    grid-area: a1;
    background-color: lightblue;
}

.article2 {
    grid-area: a2;
    background-color: lightpink;
}

.article3 {
    grid-area: a3;
    background-color: lightpink;
}

.article4 {
    grid-area: a4;
    background-color: lightblue;
}

.article5 {
    grid-area: a5;
    background-color: lightblue;
}

.article6 {
    grid-area: a6;
    background-color: lightpink;
}

img {
    width: 100%;
    height: 100%;
}

.search {
    display: inline-flex;
    font-size: 15px;
}

.search-input {
    border: 0.2em solid white;
    font-size: inherit;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.5em;
    outline: 0em;

}

.search-input:hover,
.search-input:focus {
    border-color: darkgray;

}
position: absolute;
top: 10px; right: 40px;

.search-button {
    font-size: inherit;
    border: 0.2em solid white;
    border-radius: 0 0.5em 0.5em 0;
    background-color: white;
    border-left: 0em;
    padding: 0 0.5em;
    outline: 0em;
    cursor: pointer;

}

.search-button:hover,
.search-button:focus {
    border-color: darkgray;
    background-color: darkgray;

}

position: absolute;
top: 12px; right: 40px;